@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
 

/* Mixins, helpers and functions */
 

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  flex-flow: column;
}

.navbar-menu {
  background-color: yellowgreen;
  padding: 1rem;
  margin: 50px auto;
  display: flex;
  width: 900px;
  justify-content: space-between;
}

.navbar-menu>ul {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}
 
.navbar-menu>ul li {
  display: inline;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .navbar-menu {
    display: none;
  }
  .navbar-burger {
    display: block;
  }
}
@media screen and (min-width: 600px) {
  .navbar-menu {
    display: block;
  }
  .navbar-burger {
    display: none;
  }
}